# =========================
# MinIO (S3 Data Lake)
# =========================
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=your-access-key
MINIO_SECRET_KEY=your-secret-key
MINIO_BUCKET=olist-data


# =========================
# MongoDB (Raw Storage)
# =========================
MONGO_URI=mongodb://mongodb:27017/
MONGO_DB=olist


# =========================
# PostgreSQL (Data Warehouse)
# =========================
POSTGRES_HOST=postgres
POSTGRES_DB=olist
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password
POSTGRES_PORT=5432


# =========================
# Airflow (Orchestration)
# =========================
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_EMAIL=admin@example.com

# Airflow metadata DB
AIRFLOW_DB=sqlite:////opt/airflow/airflow.db

# Generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=your-fernet-key